<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" class="card">

    <!-- Search -->
    <mat-card fxFlex.lt-sm="grow" fxFlex.gt-sm="50vw" fxLayout="column" fxLayoutGap="5px">
        <h4>{{searchGuidesLabel | value}}</h4>
    </mat-card>

</div>

<div fxLayout="row" fxLayoutAlign="center center" class="card">

    <mat-card fxFlex.lt-sm="grow" fxFlex.gt-sm="50vw" *ngIf="session">
        <h4>{{newGuideLabel | value}}</h4>

        <perfect-scrollbar style="height: 70vh" fxLayout="column" fxLayoutGap="5px">

            <!-- Title -->
            <mat-form-field appearance="fill" fxFlex="grow">
                <mat-label>{{newGuideTitleLabel | value}}</mat-label>
                <input matInput [(ngModel)]="guideTitle">
            </mat-form-field>

            <!-- Language -->
            <mat-form-field appearance="fill"  fxFlex="grow">
                <mat-label>{{newGuideLanguageLabel | value}}</mat-label>
                <mat-select [(value)]="guideLanguage">
                    <mat-option *ngFor="let item of languages" [value]="item.value">{{item.text | value}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mhra-markdown-editor height="300px" (onTextChange)="guideText = $event"></mhra-markdown-editor>

            <p style="color: red">{{wipLabel | value}}</p>
            <!-- <button [disabled]="!guideTitle || !guideText || !guideLanguage" mat-stroked-button (click)="publishGuide()">{{publishGuideLabel | value}}</button> -->
            <button mat-stroked-button (click)="publishGuide()">{{publishGuideLabel | value}}</button>

        </perfect-scrollbar>

    </mat-card>

</div>