<div fxLayout="column" fxLayoutAlign="center center" class="bg" fxLayoutGap="5vh">

    <div fxFlex="10%">
        <p class="title">{{title | value}}</p>
        <p class="sub">{{sub1 | value}}</p>
        <p class="sub">{{sub2 | value}}</p>
    </div>

    <div  fxFlex="50%" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10vw">

        <div fxLayout="column" fxLayoutAlign="center center" class="clickable">
            <div class="logo" (click)="openGithub()">
                <img class="rotate" src="assets/github1.svg" height="70vh">
                <img src="assets/github2.svg" height="70vh">
            </div>
            <p>{{joinGithub | value}}</p>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="clickable">
            <div class="logo" (click)="openSlack()">
                <img class="rotate" src="assets/slack1.svg" height="70vh">
                <img src="assets/slack2.svg" height="70vh">
            </div>
            <p>{{joinSlack | value}}</p>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="clickable">
            <div class="logo" (click)="openFB()">
                <img class="rotate" src="assets/facebook1.svg" height="70vh">
                <img src="assets/facebook2.svg" height="70vh">
            </div>
            <p>{{joinFB | value}}</p>
        </div>

    </div>

</div>