<md-toolbar 
    (onTogglePreview)="showPreview = $event"
    (onUndo)="onUndo()"
    [selectedText]="selectedText"
    (onSelectionFormat)="updateSelection($event)"
    (onTextInsert)="insertText($event)">
</md-toolbar>

<!-- <perfect-scrollbar [style.height]="height"> -->

    <mat-form-field appearance="fill" *ngIf="!showPreview" class="full-width">
        <mat-label>Markdown</mat-label>
        <textarea 
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="10"
            cdkAutosizeMaxRows="200"
            [(ngModel)]="text" 
            (click)="handleClickSelect($event)" 
            (keyup)="handleClickSelect($event)"
            (select)="handleClickSelect($event)"
        ></textarea>
    </mat-form-field>

    <!-- Tjek denne: https://angularscript.com/native-wysiwyg-editor-for-angular-6/ -->

    <markdown class="viewer" ngPreserveWhitespaces [data]="text" class="preview" (ready)="onReady()" *ngIf="showPreview">
    </markdown>
<!-- </perfect-scrollbar> -->