/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body{
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}
.clickable:hover{
    cursor: pointer;
    opacity: 0.8;
}
.p{
    font-family: 'Roboto', serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
