<div fxLayout="column" fxLayoutAlign="space-around center" class="bg">

    <div fxFlex>
        <p class="title">{{title | value}}</p>
        <p class="sub">{{sub1 | value}}</p>
        <p class="sub">{{sub2 | value}}</p>
    </div>

    <div fxFlex style="width: 100%" fxLayout="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" fxLayoutAlign="center center" fxLayoutGap="10px">

        <div fxFlex="30%" fxLayout="column" fxLayoutAlign="center center" class="clickable">
            <div fxFlex="grow" class="logo" (click)="openGithub()">
                <img class="rotate" src="assets/github1.svg" height="40vw">
                <img src="assets/github2.svg" height="40vw">
            </div>
            <p>{{joinGithub | value}}</p>
        </div>

        <div fxFlex="30%" fxLayout="column" fxLayoutAlign="center center" class="clickable">
            <div fxFlex="grow" class="logo" (click)="openSlack()">
                <img class="rotate" src="assets/slack1.svg" height="40vw">
                <img src="assets/slack2.svg" height="40vw">
            </div>
            <p>{{joinSlack | value}}</p>
        </div>

        <div fxFlex="30%" fxLayout="column" fxLayoutAlign="center center" class="clickable">
            <div fxFlex="grow" class="logo" (click)="openFB()">
                <img class="rotate" src="assets/facebook1.svg" height="40vw">
                <img src="assets/facebook2.svg" height="40vw">
            </div>
            <p>{{joinFB | value}}</p>
        </div>

    </div>

</div>